body {
  width: 100%;
  height: 100vh;
  background: rgb(30, 57, 71);
  background: url("../img/bg-pattern.png"), linear-gradient(180deg, rgb(35, 19, 53) 0%, rgba(21, 23, 34, 1) 40%);
  background-size: 80px, auto;
  background-repeat: repeat, no-repeat;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}

.small {
  font-size: 0.75rem;
}

.header {
  margin: 1rem 1rem 0 1rem;
  padding: 0.8rem 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
