:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "JetBrains Mono", monospace;

  --primary-bg: #151722;
  --primary-color: #ff5a00;
  --text-primary-color: #fff;
  --text-secondary-color: #d0d0dc;

  --accent-purple: #9a45ff;
  --accent-pink: #f087fe;
}

body {
  height: 100vh;
  font-family: var(--primary-font);
  background: rgb(65, 36, 99);
  background-image: url("../img/bg-pattern.png"), radial-gradient(at top right, rgba(65, 36, 99, 0.1) 0%, rgba(21, 23, 34, 1) 40%);
  background-size: 100px, auto;
  color: var(--text-primary-color);
}

.font-primary {
  font-family: var(--primary-font);
}
.font-secondary {
  font-family: var(--secondary-font);
}
.text-secondary-color {
  color: var(--text-secondary-color);
}
.text-gradient-purple {
  background: -webkit-linear-gradient(0deg, rgba(240, 135, 254, 1), rgba(136, 52, 216, 1), rgba(240, 135, 254, 1));
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move-bg 1s infinite linear;
}
@keyframes move-bg {
  to {
    background-position: 200% center;
  }
}
.small {
  font-size: 0.75rem;
}
.bg-accent {
  background-color: var(--accent-purple);
}

.navbar {
  backdrop-filter: blur(12px);
}
.nav-link {
  color: var(--text-primary-color);
}
.nav-link:hover {
  color: var(--accent-pink);
}

.btn-primary {
  background: rgb(240, 135, 254);
  background: linear-gradient(90deg, rgba(240, 135, 254, 1) 0%, rgba(136, 52, 216, 1) 50%, rgba(240, 135, 254, 1) 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.5s ease;
}
.btn-primary:hover {
  background-position: right center;
  animation: flow 0.3s ease-in-out;
}

@keyframes flow {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}

.btn-link {
  color: var(--accent-pink);
  border: none;
  border-radius: 0px;
}
.btn-link:hover {
  color: var(--accent-pink);
  opacity: 0.8;
}

#messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  height: 100vh;
  max-height: 100%;
  overflow-y: hidden;
}

.message {
  opacity: 0;
  transform: translateY(20px) scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, margin-bottom 0.5s ease-out;
  margin-bottom: -1200px; /* Initially hidden */
}

.message.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  margin-bottom: 10px;
}

.message img {
  max-width: 100%;
  border-radius: 15px;
}

/* =============================================================================
MOBILE
============================================================================= */
.mobile-only {
  display: none !important;
}

@media (max-width: 768px) {
  #messagesContainer {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }

  body {
    padding-top: 8rem;
  }
}
