:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "JetBrains Mono", monospace;

  --primary-bg: #151722;
  --primary-color: #ff5a00;
  --text-primary-color: #fff;
  --text-secondary-color: #d0d0dc;

  --accent-purple: #9a45ff;
  --accent-pink: #f087fe;
}

body {
  height: 100vh;
  font-family: var(--primary-font);
  background: var(--primary-bg);
  background-image: url("../img/bg-pattern.png"), radial-gradient(at top right, rgb(65, 36, 99) 0%, rgba(21, 23, 34, 1) 40%);
  background-size: 100px, auto;
  background-repeat: repeat, no-repeat;
  color: var(--text-primary-color);
}

.font-primary {
  font-family: var(--primary-font);
}
.font-secondary {
  font-family: var(--secondary-font);
}
.text-primary-color {
  color: var(--text-primary-color);
}
.text-secondary-color {
  color: var(--text-secondary-color);
}
.text-gradient-purple {
  background: -webkit-linear-gradient(0deg, rgba(240, 135, 254, 1), rgba(136, 52, 216, 1), rgba(240, 135, 254, 1));
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move-bg 1s infinite linear;
}
@keyframes move-bg {
  to {
    background-position: 200% center;
  }
}
.small {
  font-size: 0.75rem;
}
.bg-accent {
  background-color: var(--accent-purple);
}

section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* =============================================================================
NAVBAR
============================================================================= */

.navbar {
  backdrop-filter: blur(12px);
}
.nav-link {
  color: var(--text-primary-color);
}
.nav-link:hover {
  color: var(--accent-pink);
}

.nav-link {
  color: var(--accent-pink);
}
.nav-link:hover {
  color: var(--accent-pink);
  opacity: 0.8;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--accent-pink);
  border-radius: 0px;
}

/* =============================================================================
BUTTONS
============================================================================= */

.btn-primary {
  background: rgb(240, 135, 254);
  background: linear-gradient(90deg, rgba(240, 135, 254, 1) 0%, rgba(136, 52, 216, 1) 50%, rgba(240, 135, 254, 1) 100%);
  color: #fff;
  border: none;
  border-radius: 0px;
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.5s ease;
}
.btn-primary:hover {
  background-position: right center;
  animation: flow 0.3s ease-in-out;
}

@keyframes flow {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}

.btn-outline-primary {
  border: 1px solid #f087fe;
  border-radius: 0px;
  color: #f087fe;
  font-family: var(--secondary-font);
}
.btn-outline-primary:hover {
  border: 1px solid #f087fe;
  background: rgb(240, 135, 254);
  background: linear-gradient(90deg, rgba(240, 135, 254, 1) 0%, rgba(136, 52, 216, 1) 100%);
  color: var(--text-primary-color);
}

.btn-link {
  color: var(--accent-pink);
  border: none;
  border-radius: 0px;
}
.btn-link:hover {
  color: var(--accent-pink);
  opacity: 0.8;
}

/* =============================================================================
PILL REACTION
============================================================================= */
.pill-reaction {
  width: fit-content;
  gap: 2px;
  padding: 3px 6px;
  background-color: var(--accent-purple);
  border-radius: 50px;
}

/* =============================================================================
MESSAGE BUBBLES
============================================================================= */

#messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  height: 100vh;
  max-height: 100%;
  overflow-y: hidden;
}

.message {
  opacity: 0;
  transform: translateY(20px) scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, margin-bottom 0.5s ease-out;
  margin-bottom: -1200px; /* Initially hidden */
}

.message.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  margin-bottom: 10px;
}

.message img {
  max-width: 100%;
  border-radius: 15px;
}

/* =============================================================================
LIST
============================================================================= */

.list-group-item {
  background-color: transparent;
  border-color: #3d4157;
  color: var(--text-primary-color);
}

.list-group-item-action {
  background: linear-gradient(90deg, rgba(136, 52, 216, 0.4) 0%, rgba(136, 52, 216, 0) 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-out;
}

.list-group-item-action:hover {
  background-color: transparent;
  background-size: 100% 100%;
}

/* =============================================================================
ACCORDION
============================================================================= */
.accordion-item {
  background-color: transparent;
  border-color: #3d4157;
}

.accordion-button {
  background-color: transparent;
  border-color: #3d4157;
  background: linear-gradient(90deg, rgba(136, 52, 216, 0.4) 0%, rgba(136, 52, 216, 0) 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-out;
}

.accordion-button:hover {
  background-color: transparent;
  background-size: 100% 100%;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  background-size: 100% 100%;
  color: var(--text-primary-color);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url("/img/plus.svg");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("/img/minus.svg");
}

/* =============================================================================
CARDS
============================================================================= */

.card {
  color: var(--text-primary-color);
  border-radius: 0px;
  border: 1px solid #3d4157;
  background-color: rgba(40, 43, 57, 0.4);
  backdrop-filter: blur(8px);
}

.card-pricing {
  filter: drop-shadow(0px 0px 0px #f087fe2e);
  transition: filter 0.3s ease-in;
}

.card-pricing:hover {
  filter: drop-shadow(0px 0px 82px #f087fe2e);
  transition: filter 1.5s ease-in-out;
}

/* =============================================================================
FOOTER
============================================================================= */

footer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/portal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

#bubbleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.portal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/* =============================================================================
MOBILE
============================================================================= */
.mobile-only {
  display: none !important;
}

@media (max-width: 768px) {
  #messagesContainer {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }

  body {
    padding-top: 8rem;
  }
}
